.contactUsPage{
overflow: hidden;
}

.leftPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 75px; */
    width: 53%;
    
}
.leftPart p {
    font-size: 18px;
    line-height: 1.7;
}
.rightPart {
    width: 40%;

}
.contactUsForm{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    overflow: hidden;
}
.inputs.new1 {
    width: 100%;
    gap: 20px;
}
.phone.new2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.map.new2 {
    padding: 80px;
    overflow: hidden;
}
@media (max-width: 850px) {
    .contactUsForm{
        flex-direction: column;
        gap: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .leftPart {
        width: 100%;
        gap: 30px;
    }
    .rightPart{
        width: 100%;
    }
    .map.new2 {
        padding-left: 10px;
        padding-right: 10px;

    }
}
 