.propertiesPage{
    overflow: hidden;}
    .buttonsProp button {
        border: none;
        width: 132px;
        padding: 15px;
        background-color: black;
        color: white;
        font-size: 17px;
        font-weight: 600;
        border-radius: 6px;
        transition: 0.3s;
        cursor: pointer;
    }
    .buttonsProp button:hover {
        background-color: red;
    }

    .buttonsProp{
        display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 50px;
    }
    @media (max-width: 604px){
        .buttonsProp{
        flex-direction: column;
        align-items: center;
        }
    }
    .acivetype {
        background-color: red;
    }
    #colored{
        background-color: red;
    }